@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
html,body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto',sans-serif;
  margin:0;
  padding: 0;
}

header {
  position:sticky;
  top:0;
  background: white;
  font-weight: bold;
  height:66px;
  box-shadow:rgba(0,0,0,0.15) 1.95px 1.95px 2.6px;
}
 
.rightBox{
  display:flex;
  margin:12px;
}

.left img {
  width: 32px;
  height: 32px;
}

.container {
  padding: 0 10vw;
}
.containerHeader{
  padding: 0 10vw;
  
}
nav{
  font-size: 12px;
  padding-top:14px;
}

nav ul li {
  list-style: none;
  padding: 0 12px;
} 
.section1{
  background-color: #ffffff;
}
.search{
  width:34vw;
  padding:7px 17px;
  border:0.5px solid grey;
  background:#f7f8fd;
  border-radius:5px;
}
.homeImg{
  width:80vw;
  margin:12px 0;
}
.homeImg2{
  width:80vw;
  margin-top:8px;
  margin-bottom:0px;
}
.homeImg3{
  width:80vw;
  margin:0px 0px;
}
.itemImg{
  width:7.88vw;

} 
.itemImg2{
  width:8.75vw;

} 
.itemImg3{
  width:13.1vw;

}
footer{
  padding:23px;
  text-align:center;
  box-shadow:rgb(0 0 0 / 24%) 0px 3px 8px;
} 
@media (max-width:1100px){
  header{
    height:122px;
  }
  nav ul li{
    list-style:none;
    padding:0 4px;
    font-size:10px;
  }
  nav{
    flex-direction: column;
    align-items: center;
  }
  .containerHeader{
    padding:0 2vw;
  }
  .right{
    flex-direction:column;
  }
  .search{
    width:35vw;
  }
}